# Environment settings and virtual environment
.env
venv/

# Documentation and Data Directories
vectorstores/
prompt/

# Testing files and directories
eval/
evaluator.py
unit_test/
test.py
playground.py
RAG_eval_data_60.csv
RAG_retriever_eval_60/
retriever_eval.ipynb
processing_checkpoint.json
Retrieval_eval_vectorstores/
*.log
# Python cache
**/__pycache__/

# Miscellaneous files
README.md
Makefile
.gitignore
.gitattributes